*{
    margin: 0px;
    padding: 0px;
}

:root{
    --grid-dimension: 0;
    --square-size: 0;
}

body{
    background-color: rgb(148, 144, 144);
    text-align: center;
}

.sketch{
    display: inline-block;
    
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(var(--grid-dimension), 19px);
    grid-template-rows: repeat(var(--grid-dimension), 19px);
    border: solid 4px black;
}

.square{
    background-color: rgb(11, 149, 190);
    }

.black-square{
    background-color: rgb(0, 0, 0);
}

.border{
    justify-content: center;
    display: inline-block;
    border: solid rgb(184, 15, 15);
    border-width: 25px 25px 0px 25px;
    border-radius: 6px 6px 0px 0px;
}

.btn{
 text-align: center;
 background-color: rgb(184, 15, 15);
 border-radius: 0px 0px 6px 6px;
}

.resetBtn{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.column-input{
    margin: 30px auto;
}

.column-input h3{
    margin-bottom: 30px;
}

.input-btn{
    width: 30px;
    height: 29px;
    border-radius: 0px;
}

.input{
    width: 40px;
    height: 25px;
    text-align: center;
    border-radius: 0px;
}
